[2016-09-09 13:13] bradjc opened #1 "Backplane RevA updates"
- [x] Numbers in silkscreen for modules
- [x] Move part labels off of vias (korea is ok when the vias are small, these vias are big)
- [x] Fix U30 package (and the other 5)
- [x] Minimize plane area (?)
- [x] USB data muxes have wrong control signals. Should be fed with `MODn_USB_!EN`, not `MODn_ISO_USB`
- [x] Also, it seems like the unused port should have pull downs: https://e2e.ti.com/support/i

[2016-09-09 14:32] ppannuto commented on #1
- USB data muxes have wrong control signals. Should be fed with `MODn_USB_!EN`, not `MODn_ISO_USB`

[2016-09-09 14:50] bradjc commented on #1
I also think we should revisit this somewhat bizarre decision to reset by default. Do we really want the controller to say "If I can't work then nothing can work!!! Muwahahahaha!"?

[2016-09-09 15:21] ppannuto commented on #1
It wasn't so malicious as that sounds. The idea behind it was protection of
the system. If the controller resets itself, dies, or w/e, then while the
controller is out of commission a wayward module can't bleed the system
dry.

What would you prefer the default behavior to be if there's no active
controller, turn everything on?

On Fri, Sep 9, 2016 at 10:50 AM Brad Campbell notifications@github.co

[2016-09-09 15:30] bradjc commented on #1
In the case that the controller is gonezo, then everything is broken and I don't think it matters what happens. But in case that controller resets briefly, everything would break, even in the case the controller comes back in a few milliseconds. Things like USB to linux, and I2C to radio can all keep happening while the controller resets. And the power supply should still be aggregating the energy

[2016-09-09 17:08] ppannuto commented on #1
That's almost already the situation.

Because all of the modules are on GPIO extenders, they wouldn't change state when the controller goes away. The missing bit is that `!BACKPLANE_RESET` will trip because the controller isn't holding it any more (which will then cause all the GPIO extenders to reset).

Perhaps the right solution then is to latch/buffer `!BACKPLANE_RESET` the same way. That way t

[2016-09-09 23:12] bradjc commented on #1
What about just pulling !RESET high and calling it a day? Who knows what state everything is in during reset, but everything should be fine in the default, just resetted state. The controller can reset everything if it wants. All the modules will still default to disabled.

Also, it seems like the unused port should have pull downs: https://e2e.ti.com/support/interface/digital_interface/f/130/p/36

[2016-09-11 19:12] ppannuto commented on #1
Currently, the debug LEDs for the backplane live in the corner on each module, but are covered by the backplane case when it's installed.

The original thoughts for this were
- You likely won't populate the debug LEDs on a deployed board b/c they burn power
- There are no components anywhere under modules so module creators can consider the full vertical space under the module as theirs

Thinking

[2016-09-12 01:16] bradjc commented on #1
At first I was opposed to this, then for it, and now I'm against it again. While I agree having the LEDs visible inside the case would be useful (particularly for a demo), they are only useful for populated modules, but once the module is populated you won't be able to see the LEDs anymore.

[2016-09-12 01:23] ppannuto commented on #1
Yeah, that's the same back and forth I went through the first time. Eventually concluded that having unpopulated parts visible wasn't a great aesthetic, happy to leave that conclusion.

[2016-09-12 18:16] ppannuto commented on #1
@adkinsjd can you send me any hole / mounting / plating requirements for the new power connectors you're looking at? I just need enough dimensions to put holes in the right place on the PCB

[2016-09-13 17:03] ppannuto commented on #1
@adkinsjd I removed the jumper terminals and put one hole at `(1.749, 5.751) drill 1.125`.

Do I need to do anything else?

[2016-09-20 17:44] ppannuto commented on #1
Most recent commit removes a lot of metal. Hopefully that should make things more manageable.

@bradjc is there anything worth trying to do to the footprint of U20-25 to make that part more solderable? Smaller planes will help, but it's necessarily in the middle of the planes for the USB traces, so there's still non-trivial metal around them.

I think it's about ready to pull the trigger on Rev B

[2016-09-29 06:01] #1 closed, assigned to nobody

[2016-09-29 06:02] ppannuto opened #2 "Controller RevA Updates"
Issue to track fixes for controller RevA
- [x] There are two pins labeled `USB_D+` and none `USB_D-`

[2016-09-29 18:09] brghena commented on #2
Other issues with Controller Rev A
- [x] VR1 doesn't have a Pin 1 marker
- [x] L2 & L3 have dots on their package, but not on the silkscreen
- [ ] D1 has basically no markings on it's package and is really hard to tell orientation on
- [x] R11 - R12 silkscreen too close to inductor
- [ ] C25 - C27 component is too tall and doesn't place on the board well
- [x] FB3 - FB4 are too big for their pads

[2016-09-30 22:26] ppannuto commented on #2
@brghena when you fix "D1 has basically no markings on it's package and is really hard to tell orientation on", can you poke me to fix on seinduino somehow?

[2016-10-01 02:07] brghena commented on #2
- [x] GND pads extremely hard to solder on controller module headers

[2016-10-01 04:55] brghena opened #3 "Fix `make program` for Firestormtest"
Need to select which LD file to use based on whether you `make program` or `make flash`

[2016-10-03 11:04] adkinsjd opened #4 "Still having problems with Baud rate not matching the setting"
In tock, I am still having to manually adjust my baud rate up to 125000 to get an actual baud rate of 115200.

[2016-10-03 15:58] bradjc commented on #4
Yeah I don't know what's up with that. Is it possible Michael did actually calibrate the RC32K clock for every firestorm, and we never actually overwrote the bootloader so it wasn't an issue? Do we have any untouched firestorms we could look at address 0xfe04 of?

[2016-10-03 18:29] prabaldutta commented on #4
Why are you using the RC oscillator for a BRG???  373 fail!  RC oscillators
have terrible tempco!
- Prabal

On Mon, Oct 3, 2016 at 11:58 AM, Brad Campbell notifications@github.com
wrote:

[2016-10-03 18:40] alevy commented on #4
On what I _think_ is an untouched Firestorm I'm reading `0x1d001a` from address `0xfe04`

[2016-10-03 18:48] alevy commented on #4
@prabaldutta The UART's baud rate generator is _not_ sourced from the RC32K, it's sourced from the CPU clock (which is the setup to use the DFLL).

@adkinsjd & @bradjc I'm not sure why we decided this might be related to the RC32K... is it possible the divider for the DFLL is off by a bit or something? Resulting in a frequency of about 44Mhz instead of 48Mhz?

[2016-10-03 19:03] bradjc commented on #4
`0x1d001a` differs from what we had (which was `0x1d0015`). It may be time to dig into the clock land again...

[2016-10-05 05:35] bradjc opened #5 "Make apps compile all dependencies"
Things in libs don't get re-compiled when they change.

[2016-10-06 19:58] ppannuto opened #6 "Assemble all backplanes"

[2016-10-10 04:53] bradjc commented on #5
I will buy someone a cookie if they fix this.

[2016-10-10 17:00] bradjc opened #7 "Add ADC driver to Tock"

[2016-10-10 17:19] bradjc opened #8 "Get GPS location and time in an app on the controller"

[2016-10-10 17:20] bradjc opened #9 "Receive LoRa packets in node.js environment"

[2016-10-10 17:20] bradjc opened #10 "Summon App for Signpost"

[2016-10-10 17:21] bradjc opened #11 "Define a byte encoded data format for all modules"
This probably goes hand-in-hand with defining an I2C message bus format.

[2016-10-10 21:45] srohrer32 commented on #9
npm: https://www.npmjs.com/package/iM880-serial-comm

git repo: https://github.com/lab11/LoRa-comms

[2016-10-10 22:22] #9 closed, assigned to srohrer32

[2016-10-11 15:36] bradjc commented on #9
It might be good to rename the LoRa-comms repo (to match the npm package) and have it only contain the node library. A one-to-one mapping makes it easier to find and update in the future.

[2016-10-11 18:17] srohrer32 commented on #9
New repo here: https://github.com/lab11/iM880-serial-comm . The npm package also now points to the new repo.

[2016-10-13 19:17] bradjc opened #13 "Update power supply module schematic/bom to 2k resistors"

[2016-10-13 20:36] bradjc opened #14 "Convert ltc output to uAh and check for i2c errors"

[2016-10-13 21:45] #7 closed, assigned to nealjack

[2016-10-13 23:08] nealjack commented on #14
What i2c errors are you talking about?

[2016-10-13 23:22] #13 closed, assigned to nobody

[2016-10-14 01:08] bradjc commented on #14
Mostly if the ltc2941 address was NAKed.

[2016-10-14 01:09] bradjc opened #15 "Power Supply Module: update paste layer"
Modify the paste layer on the ICs to have a smaller square in the center of the pad instead of the entire pad.

[2016-10-14 01:15] #4 closed, assigned to nobody

[2016-10-15 00:19] nealjack commented on #14
Did not see unacked ltc addresses.
Note: what I added works when only the controller and power supply are on the backplane. Had issues last night with the radio module. Adding configuration writes to the ltcs in signpost_energy_init would cause the controller to freeze up. Assuming a yield that never got a callback.

[2016-10-15 00:19] #14 closed, assigned to nobody

[2016-10-15 01:26] brghena commented on #8
Closed as of 2c8415fc9f92d86aa6d9baa3c983fea8eb9440c5

[2016-10-15 01:26] #8 closed, assigned to brghena

[2016-10-16 18:02] #6 closed, assigned to ppannuto

[2016-10-16 18:57] ppannuto opened #16 "Backplane RevB updates"
So far just nits but a place to collect things.
- [x] Add a space on silkscreen to write in an identifier (i.e. Backplane no. 12)
- [x] Move `R46` and `R47` to be near `R48`. (Or vice-versa and move the test points too)
- [x] ~Software resettable fuses for modules~
  - Moved to the power module's responsibility
- [x] ~TVS diodes on all module I/O ?~
  - I'm not convinced this is needed, can revisi

[2016-10-17 22:51] adkinsjd commented on #16
- [x] ~I2C bypass jumpers in case the isolators aren't working~
    - more evidence indicates that was really only a problem of the rush solder job on the first round

[2016-10-18 18:12] ppannuto commented on #5
I want my cookie.

[2016-10-18 18:12] #5 closed, assigned to nobody

[2016-10-19 05:32] bradjc opened #17 "Timer callbacks getting lost somehow (probably)"
With watchdog timer firing at 250 ms, app watchdog timer firing at 30 s, and app timer firing at 6 s, every 235 s the app seemingly stops getting a callback for the 6 s app timer. 30 s the app watchdog fires and resets the MCU.

Disabling the HW watchdog and watchdog timer (the 250 ms one) seems to make this problem go away. Changing the app timer interval does not seem to have any effect.

[2016-10-19 20:34] bradjc opened #18 "Microwave Radar PCB fixes"
- Hole sizes too small for radar module
- TX/RX silkscreen backwards
- PCB board name label too small
- MSGEQ7 schematic
- SAM4L switching power supply doesn't work

[2016-10-19 21:25] ppannuto commented on #18
- Module silkscreen for `I2C_C` runs into the pin and cuts off, hard to read difference from `I2C_D`. Change to `SCL` and `SDA`.

[2016-10-20 23:00] adkinsjd commented on #16
- [x] Large annular rings around all mechanical holes!
- [x] Don't route any traces near mechanical holes

[2016-10-21 07:17] brghena opened #19 "Radio module reliability"
We want to improve radio module reliability. This has two prongs: detecting errors and resetting cleanly
1. We want to be able to detect errors on the Nucleum and iM880B. For the Nucleum, the `ble_error` function seems like it should be able to do this. However, while testing I could not seem to get this function to be run... For the iM880, we should read its responses. The console `getauto` funct

[2016-10-23 19:56] brghena opened #20 "Summon demo app"
Thomas added a summon app which can be viewed at [j2x.us/signp](http://j2x.us/signp). This issue is for tracking updates that are needed for it. @tzachari
- [x] Add time and date to the `Controller` view
- [x] Add the UC Berkeley logo to the signpost
- [x] Either add the UCSD logo to the `Air Quality` view or rename to `UCSD Air Quality`
- [x] Make `SIGNPOST` name bigger. Might have to move it

[2016-10-23 20:19] ppannuto commented on #20
- [x] Resolve mixed security content

The j2x url currently redirects to https rawgit, but the websocket uri isn't over secured websockets. Manually going to the http version of the rawgit page allows the websocket to connect, but this should be consistent.

![screen shot 2016-10-23 at 16 17 14](https://cloud.githubusercontent.com/assets/339422/19629150/32e89096-993c-11e6-9936-0848ae1220a6.png)

[2016-10-23 21:13] brghena commented on #2
- [x] Need ability to reset GPS

[2016-10-23 21:19] brghena commented on #20
- [x] the '2' in 'CO2' doesn't load right on android

-> note, works fine on iOS -Pat

![screenshot_2016-10-23-17-17-40](https://cloud.githubusercontent.com/assets/235448/19629521/d98d2c24-9944-11e6-912a-8e29f2eb37f6.png)

[2016-10-24 06:48] bradjc commented on #20
- [x] add controller energy to power supply box

[2016-10-24 17:59] tzachari commented on #10
9ff173cb48cd47cb9b98f4e7923d7cb08b77ad36

[2016-10-24 17:59] #10 closed, assigned to tzachari

[2016-10-26 22:13] bradjc commented on #18
Also need to fix the false positive issue, where there is noise (or something) on the IF pin and that leads to motion detection when nothing is happening.

[2016-10-26 22:13] bradjc commented on #16
- [x]  ~All traces on middle layers?~
   - From below, not doing this for now. Moved all traces away from the edges and from mount holes where possible

[2016-11-02 15:44] brghena commented on #2
- [x] USB_ID connection for Edison is incorrect. Needs to be Grounded in normal case (acts as host) and Floating in programming case (acts as peripheral). (https://www.maximintegrated.com/en/app-notes/index.mvp/id/1822)

[2016-11-17 21:42] adkinsjd commented on #16
- [ ] A generally thicker, more sturdy pcb

[2016-11-17 21:49] adkinsjd commented on #19
This is fixed. Nulceum fixed by power gate. IM880B software reset.

[2016-11-17 21:49] #19 closed, assigned to nobody

[2016-11-17 21:51] adkinsjd opened #21 "Fix i2c probing lines on the audio module so that you can really solder them."

[2016-11-22 20:16] #20 closed, assigned to nobody

[2016-11-23 07:46] bradjc commented on #16
If the PCB gets thicker, we have to keep in mind the through-hole parts and make sure they are still solderable.

[2016-12-06 09:42] nealjack commented on #2
- [ ] Edison on controller draws 2x-4x the current of an Edison on the breakout board
- [ ] Controller draws over 100mA on its own. We think it's the GPS
- [x] Power gate GPS
- [x] Power gate everything

[2017-01-18 00:50] brghena commented on #2
The vast majority of this has been handled in Control Module rev B (ca164b0e88493279cb7291171baee575391ca474)

The issues with D1 and C25-C27 have been ignored. The large power draw of the Edison will be further investigated when the new board is complete

[2017-01-18 00:50] #2 closed, assigned to brghena

[2017-01-18 05:18] bradjc commented on #17
Oooh this is what Branden was thinking of. Yeah hopefully this is fixed with the bug fix to virtual_alarm.rs.

[2017-01-26 21:41] brghena commented on #21
Fixed with rev C

[2017-01-26 21:41] #21 closed, assigned to nobody

[2017-01-26 21:43] brghena opened #22 "Controller Rev B Fixes"
List for tracking problems discovered with Rev B of the controller

 - [x] Swap C12 and C25 locations

[2017-01-27 23:12] brghena commented on #22
- [x] Clearance on Edison mounting holes is insufficient
- [x] Pull-up on LINUX_ENABLE_POWER is not working

[2017-01-31 06:07] adkinsjd opened #23 "Debug Backplane Fixes (RevB errata)"
-  [x] Switch module 1 and 0 programming silkscreen (light is still correct)

[2017-01-31 08:59] adkinsjd commented on #23
- [x] Probably should put default off resistors on the debug LEDs

[2017-01-31 10:33] adkinsjd commented on #23
- [x] Nit - put the programming signals in order
 - [x] Move silkscreen out to accommodate a knurled knob

[2017-01-31 10:47] adkinsjd commented on #23
- [x] A big 5V warning. maybe  a protection circuit

[2017-01-31 21:49] #3 closed, assigned to nobody

[2017-01-31 21:52] bradjc opened #24 "Add diagram that shows how modules are connected"
- Shows the I2C bus
- Shows that there is an USB to edison
- Abstract the controller, storage, power supply
- Less detail than the existing arch diagram

[2017-02-12 02:04] bradjc opened #26 "Debug Backplane Updates"
- [ ] Add LED for fake radio module.

[2017-02-13 20:31] srohrer32 opened #27 "Inconsistent baudrate for audio_module"
In the audio_module `software/kernel/boards/audio_module/src/main.rs` file the line
`sam4l::pm::setup_system_clock(sam4l::pm::SystemClockSource::ExternalOscillator, 16000000);` causes the baud rate to be 115200.
Changing the speed to 48 MHz
`sam4l::pm::setup_system_clock(sam4l::pm::SystemClockSource::ExternalOscillator, 48000000);` causes the baud rate to be 38400. Unsure as to why

[2017-02-13 20:44] srohrer32 commented on #27
Must change to
`sam4l::pm::setup_system_clock(sam4l::pm::SystemClockSource::ExternalOscillatorPll, 48000000);`

[2017-02-13 20:44] #27 closed, assigned to nobody

[2017-02-14 21:57] ppannuto commented on #23
Moving from #26 here:

 - [x] Add LED for fake radio module.

[2017-02-14 21:57] ppannuto commented on #26
Duplicate issue. Closing in favor of #23.

[2017-02-14 21:57] #26 closed, assigned to nobody

[2017-02-14 21:58] ppannuto commented on #23
- [x] Deal with USB Hub Reset problem
![image](https://cloud.githubusercontent.com/assets/339422/22951767/69ad599a-f2d8-11e6-8211-c6c734981d7f.png)

[2017-02-14 22:04] brghena commented on #23
## USB Hub Reset

Reboot: Hub still good
Power cycle (with ten seconds physically powered off): Hub still good

I'm guessing just asserting BackplaneReset at boot will be sufficient

[2017-02-14 22:14] ppannuto commented on #22
- [x] Connect !BACKPLANE_RESET to a SAM4L

[2017-02-15 20:08] cxbrooks opened #28 "Edison toFlash.tar.gz firmware fails to reboot"
The signpost/software/edison/toFlash.tar.gz  image seems to not work for me.

I installed git lfs:

[code]

The image size seems correct and the file seems OK:

[code]
When I use the Intel Edison Setup Application to install this file, I see it validate the image, and then there is a message about dfs (not sure about that) and then I get a window that says:

I'm able to download the latest image f

[2017-02-15 20:24] adkinsjd commented on #28
I have never used the Edison Setup Application.

Usually to install our images, we unpack the tar ball, then run the
flashall.sh script from terminal.

This takes a few minutes, and doesn't work every time, but usually works
within 1-3 tries. If you have problems and are in the DOP center, Neal or I
can look at it with you later today.

On Wed, Feb 15, 2017 at 12:08 PM, Christopher Brooks <
notifi

[2017-02-16 00:55] cxbrooks commented on #28
Awesome, that worked.

Follow t[he manual flashing instructions](https://software.intel.com/en-us/flashing-firmware-on-your-intel-edison-board-mac-os-x)

Assuming brew is already installed

[code]

In the Finder, unmount the Edison partition

Be sure to be plugged in to the otg port, not the console port of the [SparkFun Base Kit for Intel® Edison KIT-14105](https://www.sparkfun.com/products/14105

[2017-02-16 01:36] ppannuto commented on #28
I'm going to reopen this as a reminder to come back and improve the documentation at some point

[2017-02-17 00:30] brghena opened #29 "Ambient Rev C fixes"
Tracking things to fix for the next revision:

- [x] Grounded mounting holes
- [x] Silkscreen labels on header pins
- [ ] ~~Change to 0402 ferrite bead~~
- [x] Remove extraneous pressure sensors. We can't even purchase all of them anymore

[2017-02-17 19:36] cxbrooks opened #30 "Updates for the Edison image"
Below are some updates I'd like to see in the Edison Image:

- [x] Install Node and npm.  Node 6.9.5 is preferred.  See [Edison Node Notes](https://www.icyphy.org/accessors/wiki/Notes/EdisonNodeNotes).  Accessors will require Node.

- [x] Set the date.  When I installed the default Intel-provided image, it seemed like the date was set properly, or at least close to the current time.  I ran into pr

[2017-02-17 19:47] nealjack commented on #30
Great. This list is very useful. I'm actually working on making a more
complete image right now. If you think of any other packages you want
installed by default, please add them.

On Feb 17, 2017 11:36 AM, "Christopher Brooks" <notifications@github.com>
wrote:

[2017-02-19 02:51] ppannuto commented on #22
- [x] Label the usb ports on the *top* of the board

[2017-02-19 09:24] ppannuto commented on #30
These, in order:

 - [x] apt install python3 python3-pip
 - [x] apt install libffi-dev libssl-dev
 - [x] pip3 install --upgrade pip
 - [x] pip3 install --upgrade setuptools
 - [x] pip3 install python-periphery cryptography

[2017-02-19 22:11] ppannuto commented on #30
- [x] apt install nfs-common

Related: mounting my machine's dev folder over nfs while working on the python edison stuff has made for a really nice working setup. This is just the client side and won't mount anything by default, so should be a perfectly sane/reasonable thing to include

[2017-02-19 22:28] ppannuto commented on #30
- [x] give the edison user access to the I2C device

I recommend:
[code]

[2017-02-19 23:01] cxbrooks commented on #30
- [x] (Optional) Write documentation about how the image was created.
- [ ] (Very optional) Create script that creates the image.

[2017-02-20 02:32] nealjack commented on #30
@cxbrooks in README.md there is a [link](https://jakehewitt.github.io/custom-edison-image/) to the process for building a debian image for the Intel Edison.

[2017-02-20 02:57] nealjack commented on #30
- [x] udev rule for user i2c
- [x] erpc dependencies
- [ ] erpc repo
- [ ] erpc service
- [x] 4908 airwaves default

[2017-02-20 06:33] ppannuto commented on #30
- [x] set up https://github.com/lab11/signpost/blob/master/software/edison/support/edison-i2c.sh to run on every boot

[2017-02-20 08:44] brghena commented on #22
- [ ] Better isolation for things touching the Linux power domain
- [x] Mod_in/out pins for the Storage Master too

[2017-02-20 19:51] bradjc commented on #23
- [x] Doesn't say "Signpost"
- [x] Module 0, Module 1, Controller font are not the same size.
- [x] "MEM" -> "Storage"
- [x] What is the empty programming switch position for?
- [x] Move the JTAG header to the top of the board.

[2017-02-20 21:21] brghena commented on #23
- [x] No easily accessible ground post for probing (Oscilloscope alligator clippy thing is too big for any of the 0.1" debug headers)

[2017-02-20 21:26] adkinsjd commented on #23
Literally every screw? Or the 4 gnd testpoints at various spots on the
board?

On Feb 20, 2017 1:21 PM, "Branden Ghena" <notifications@github.com> wrote:

[2017-02-20 21:27] brghena commented on #23
Sorry, first message was unclear. I edited it to include the real intent, which is the ground connections on oscilloscope leads, which are too big and would short to other pins on the 0.1" headers and cannot latch on to round-headed screws.

[2017-02-20 21:39] ppannuto commented on #23
I'm a fan of the ground bar-like thing. Draw a rectangular poly of exposed ground metal along the edge so that leads can just clip to the pcb.

[2017-02-20 21:40] adkinsjd commented on #23
You should unscrew one of the feet for now

On Feb 20, 2017 1:39 PM, "Pat Pannuto" <notifications@github.com> wrote:

[2017-02-21 11:12] #28 closed, assigned to nealjack

[2017-02-21 17:45] bradjc commented on #23
- [x] Mod0 and Mod1 debug headers should be identical.

[2017-02-21 20:31] brghena commented on #23
- [x] Enable programming of modules even without a valid controller app

Currently, when you just plug a module in to the debug backplane, you can't program it unless the controller has disabled isolation for that module. One solution to this would be powering modules explicitly even when the programming switch is set to it.

[2017-02-21 20:35] bradjc commented on #23
- [x] Bigger !RESET button switches.

[2017-02-21 20:37] adkinsjd commented on #23
I am actually pretty strongly against this unless you can enable and
disable it strictly when the jlink is actually flashing. I think that a
module staying on when the controller wants it off would be more
problematic in the long run, and I don't think requiring turning the switch
to be selecting none of the boards is viable, as you would inevitably
forget.

There is probably a jlink signal that c

[2017-02-21 20:53] ppannuto commented on #23
Yeah, the whole flashing / dev story needs a little work. Currently we have
the annoying problem where flashing one quite often tends to leave other
boards in the "i2c lines stuck low until reset" state that the SAM4L likes
to get into.

The big hammer is obviously to put all boards into reset during a flash,
power on the target module forcefully, and then take things out of reset -
but that could

[2017-02-21 21:00] adkinsjd commented on #23
The buggy I2C state is a separate issue, which I worry we will never be
able to fix because it's a chip bug (although the first thing I would try
is adding a few extra jlink resets at the end of the flashing script).

On Feb 21, 2017 12:53 PM, "Pat Pannuto" <notifications@github.com> wrote:

[2017-02-21 21:03] ppannuto commented on #23
Yeah.. adding jlink resets won't help. It's _other_ SAM4Ls that aren't
being flashed that tend to hold low it in my experience.

On Tue, Feb 21, 2017 at 4:00 PM Joshua Adkins <notifications@github.com>
wrote:

[2017-02-21 21:04] adkinsjd commented on #23
Really? That's not what I've found. Usually if I hit the reset button on
the one I'm flashing it works.

On Feb 21, 2017 1:03 PM, "Pat Pannuto" <notifications@github.com> wrote:

[2017-02-21 21:05] adkinsjd commented on #23
I just assumed something about pressing the button reset the chip
differently

On Feb 21, 2017 1:04 PM, "Joshua Adkins" <adkinsjd@umich.edu> wrote:

[2017-02-21 21:07] ppannuto commented on #23
Often is too strong. I'd say.. 75% of the time the one I flashed, maybe 25%
of the time another chip on the network somewhere. But at this point I'm
just in the habit of resetting all of them, so my empirical evidence isn't
great. Maybe I can unlearn that habit.

On Tue, Feb 21, 2017 at 4:04 PM Joshua Adkins <notifications@github.com>
wrote:

[2017-02-21 21:34] bradjc commented on #23
My experience is basically 100% of the time it's the fault of the one I just flashed and that resetting the just flashed module fixes the issue.

[2017-02-21 21:35] adkinsjd commented on #23
Have we tried just running JLinkExe and resetting a few times to see if
that fixes it?

On Feb 21, 2017 1:34 PM, "Brad Campbell" <notifications@github.com> wrote:

[2017-02-21 21:49] ppannuto commented on #23
- [x] Master reset button that resets everything

[2017-02-22 02:08] ppannuto commented on #23
- [x] Another USB hub upstream of the FTDIs so that you can just plug in one USB cable

[2017-02-22 02:47] ppannuto commented on #30
- [x] apt install links

This is a text based browser that will give people a fighting chance of being able to navigate a captive portal.

[2017-02-22 05:08] ppannuto opened #32 "needs doc: signpost_api.h -> STORAGE API"

[2017-02-22 05:09] ppannuto opened #33 "needs doc: signpost_api.h -> NETWORKING API"

[2017-02-22 05:09] ppannuto opened #34 "needs doc: signpost_api.h -> PROCESSING API"

[2017-02-22 05:10] ppannuto opened #35 "needs doc: signpost_api.h -> ENERGY API"

[2017-02-22 05:10] ppannuto opened #36 "needs doc: signpost_api.h -> TIME & LOCATION API"

[2017-02-22 18:45] ppannuto commented on #22
- [x] connect module i2c (and may as well do smbus while we're at it) pins to gpio inputs as well so controller can monitor

[2017-02-22 20:06] ppannuto commented on #22
- [x] PPS should also be input to controller (and storage master while we're at it)

[2017-02-22 21:56] nealjack commented on #23
- [ ] Radio Module clock unstable - gpios don't work on cold boot
    - > Neal Jackson [17:13]
That was an issue I saw on my weird led flipped board - so I'm not sure it's an actual issue. I added a delay in the radio app that seemed to stabilize things
    - This was added to work around issue https://github.com/lab11/signpost/commit/ac68837df1fd405e7306dded32b567f29f427b06#diff-777998fb3b386dba9

[2017-02-23 17:48] bradjc opened #37 "Update fake_radio to ship all application layer messages to python"
The app on the sam4l shouldn't do any manipulation so that we can easily extend the python code.

[2017-02-23 18:47] linux4life798 opened #38 "Doc wrong path"
In the **Bonus: Running two applications concurrently** section of software/docs/TutorialSession.md, the apps/tock_examples/hello_app/build/storm/app.bin path is incorrect.

 May need changes to the template/Makefile

[2017-02-23 21:45] nealjack commented on #36
fixed via: ec435255

[2017-02-23 21:45] #36 closed, assigned to bradjc

[2017-02-23 21:45] nealjack commented on #35
fixed via: ec435255

[2017-02-23 21:45] #35 closed, assigned to ppannuto

[2017-02-23 21:45] nealjack commented on #34
fixed via: ec435255

[2017-02-23 21:45] #34 closed, assigned to adkinsjd

[2017-02-23 21:45] nealjack commented on #33
fixed via: ec435255

[2017-02-23 21:45] #33 closed, assigned to adkinsjd

[2017-02-23 21:46] nealjack commented on #32
fixed via: ec435255

[2017-02-23 21:46] #32 closed, assigned to brghena

[2017-02-23 22:10] ppannuto commented on #38
Fixed by 04ae2961156

[2017-02-23 22:10] #38 closed, assigned to nobody

[2017-02-25 18:56] alevy opened #42 "Generate mbedtls randomness from hardware RNG"
I believe the current implementation relies solely on CPU timing for randomness (specifically for the ECDH key exchange). That's a problem because it's insecure _and_ because we don't get to use our fancy TRNG driver for the SAM4L.

Instead, the signpost user libs can simply define

[code]

to call the underlying TRNG driver.

[2017-02-25 19:11] nealjack commented on #42
I've already written an [entropy abstraction](https://github.com/lab11/signpost/blob/master/software/apps/libs/signpost_entropy.c#L13) that uses the TRGN to as a source to seed the mbedtls PRNG.

Is that not sufficient?

[2017-02-26 12:25] alevy commented on #42
@nealjack Oh yeah, I think that works. I was looking through mbedtls, and there appears to be a supported way to do basically the same with a `#define` and magically named function you're meant to provide, but this seems better.

[2017-02-26 12:25] #42 closed, assigned to nobody

[2017-03-01 19:47] ppannuto commented on #30
The only unchecked boxes are erpc stuff, but pretty sure @nealjack said that made it in - while it may need some love at some point in the future, that feels like a separate issue. The edison image as it currently stands is in a pretty good place.

[2017-03-01 19:47] #30 closed, assigned to nealjack

[2017-03-01 19:49] ppannuto commented on #17
@bradjc is this still an issue?

[2017-03-01 19:49] #11 closed, assigned to nobody

[2017-03-03 17:27] brghena opened #43 "Documentation: Better Getting Started"
It's unclear to new users what's located in which directory, and especially where the Tock submodule is located. Currently we point to Tock's getting started instructions, which assume you're in the Tock submodule to run commands. We should write a map of the repository and do something to make getting started make more sense to new users.

[2017-03-03 17:29] brghena commented on #43
We also need to include python3 installation instructions to support Tockloader and I guess python2 to support signpost-debug-radio

[2017-03-04 11:00] andy-shev opened #44 "Are you considering to use newer kernel on Edison?"
Just wondering if you are considering to switch to vanilla kernel at some point.

[2017-03-04 12:52] ppannuto commented on #43
I fixed signpost debug radio to support py2k or py3k. Only need 2k if you
care about the gdp
On Fri, Mar 3, 2017 at 12:29 Branden Ghena <notifications@github.com> wrote:

[2017-03-06 00:00] bradjc commented on #44
I'm not sure what you mean by "vanilla", but we would _love_ to use a newer kernel. If we could get to 4.5+ we could natively support the CC2520 that we have on some of our boards.

[2017-03-06 10:50] andy-shev commented on #44
[Vanilla](https://en.wikipedia.org/wiki/Linux_kernel#Development_model) is a standard name of upstream available kernel.

v4.11-rc1 supports almost everything important on Intel Edison out-of-the box, including x86_64 build. The progress on it is described on [community wiki](https://edison.internet-share.com/wiki/Using_a_vanilla_Linux_kernel_with_Intel_Edison#What_is_working_and_what_doesn.27t).

[2017-03-06 13:17] ppannuto commented on #44
@nealjack thoughts? It'd be great to jump up, but the missing power unit and power button support (esp the latter) give me some pause.

[2017-03-06 15:43] andy-shev commented on #44
@ppannuto
To clarify a bit. There are two power related MCUs inside Atom SoCs:

1. PMU (in some it's called PMC), which takes care of South Complex devices (the driver _is_ in upstream!).
2. Power Unit is another one which controls North Complex devices, that are not used on Intel Edison anyhow (AFAIR), there _is_ a debug support in upstream which allows you to see (read) the current power state o

[2017-03-06 19:45] nealjack commented on #44
When I find some time this week, I'll give the new kernel a try. I wasn't aware Intel was still maintaining the Edison kernel. I built the current Signpost image from what is available from [here]( https://downloadcenter.intel.com/download/25028/Intel-Edison-Board-Software-Package?v=t), and used a Debian rootfs.

[2017-03-06 22:58] ppannuto commented on #16
- [x] replace GPIO extender package with version from debug backplane

[2017-03-06 23:00] brghena commented on #16
- [x] Add GPIO extender to reset / monitor the USB hub

[2017-03-06 23:01] andy-shev commented on #44
@nealjack
Even that is old one. Latest official BSP v3.5 is dated 6.06.2016. Yeah, it has v3.10.98 based kernel, but at least a bit newer than initial one.

My kernel is unofficial. I'm doing this most likely as a hobby because I like the hardware and platform.
Same regarding U-Boot support and upstreaming.

[2017-03-07 00:16] brghena commented on #22
- [x] Interrupt pin to the Edison

[2017-03-07 00:57] ppannuto commented on #16
- [x] Validate all component heights are < 0.080" (for compat w/ thicker pcb)
   - tallest component is the big USB cap, coming in at 0.075"

[2017-03-07 18:58] ppannuto commented on #23
- [x] Add GPIO extender to reset / monitor the USB hub. Set to address 3

[2017-03-07 19:42] ppannuto opened #45 "PPS slew math"
We should spec out the actual quality of the PPS signal that modules can expect and include that in documentation

[2017-03-07 20:56] ppannuto commented on #16
Where are we at on this - superfluous or worth the effort? I kinda don't want to do it just because it'll take a while to do, but if it's worth it I will

[2017-03-07 20:57] brghena commented on #16
I think it's unnecessary

[2017-03-07 20:57] brghena commented on #22
- [x] Interrupt pin from Storage Master to Controller

[2017-03-07 21:29] adkinsjd commented on #16
I think as long as you are especially careful to keep traces away from
screws and edges you are fine. The removal of internal module seals should
make this even less of an issue

On Mar 7, 2017 12:57 PM, "Branden Ghena" <notifications@github.com> wrote:

[2017-03-08 02:59] ppannuto commented on #16
I think I've now addressed everything here.

Do we have other changes or additions to the backplane?

[2017-03-10 03:25] ppannuto commented on #15
@nealjack did this get fixed on the current rev?

[2017-03-10 03:27] ppannuto commented on #16
- [x] Connect the watchdog from controller to power module
   - [x] @brghena update controller module in library to add watchdog pin
   - [x] @nealjack update power module in library to add watchdog pin

[2017-03-10 07:28] nealjack commented on #15
yeah it's on my list

[2017-03-12 04:01] nealjack commented on #15
So which ICs actually have too large squares on the paste layers? Why is it particular to the power module? It seems like a lot of our ICs have huge paste layers.

[2017-03-12 07:43] #15 closed, assigned to nealjack

[2017-03-16 19:08] nealjack commented on #43
Also, update the module design specifications in the README to indicate the dimensions and location of the debug header

[2017-03-17 23:06] nealjack commented on #16
- [x] Step up the vbat+/- and vsol+- traces to at least 100mil

[2017-03-18 05:07] adkinsjd opened #48 "Module Time Sync"
To have a hope of tight time synchronization, modules are probably going to need to wire PPS to a timer/counter (TC) pin, so that it can trigger a counter start. This might not really help, because the SAM4L doesn't have a 32bit counter that can take an external trigger anyways, but it's something to think about.

[2017-03-20 11:13] andy-shev commented on #44
Power Button support is in v4.11-rc3 (and so in my branch here on GitHub).

[2017-03-20 14:44] prabaldutta commented on #48
Why couldn't you connect it to a capture line on a free running timer?

- Prabal

On Saturday, March 18, 2017, Joshua Adkins <notifications@github.com> wrote:

[2017-03-20 15:03] adkinsjd commented on #48
The only 32bit free running timer peripheral does not have any way to
interface with external i/o in hardware, and its fastest clock source is
32khz. I was going to test full accuracy of time-stamping events in
software using this timer today.

I expect to achieve synchronization in the 10s of uS using this method,
which is probably good enough for something like localizing an audio
source, but st

[2017-03-20 15:24] prabaldutta commented on #48
Wow...that's interesting and a bit disappointing that the MCU is missing
this pretty basic functionality.  I'm surprised that there isn't a 32-bit
timer block that can be configured to be free running and that also gives
you a capture line.

- Prabal

On Monday, March 20, 2017, Joshua Adkins <notifications@github.com> wrote:

[2017-03-20 15:32] adkinsjd commented on #48
Yeah, I was pretty shocked. Usually you can at least chain two 16bit timers
together in hardware, and I can't even find a way to do that.

I might resort to running our synchronization evaluation code on the
cc2538, but I haven't looked into it much yet.  Hopefully that would at
least allow us to demonstrate the capabilities of the platform, even if
most of the modules we currently have can't achi

[2017-03-20 15:37] prabaldutta commented on #48
Probably not a bad idea.  Our module selection kinds undercuts the basic
claim.

It might be useful to just do this on some third-party module that runs its
own ecosystem (e.g. mbed, Arduino, TI, etc.) to demonstrate both the timing
and the modular compatibility.

- Prabal

On Monday, March 20, 2017, Joshua Adkins <notifications@github.com> wrote:

[2017-03-22 04:20] nealjack opened #49 "Power Module Rev D Fixes"
- [x] U19 pin 1 indicator
- [x] Better precision resistors for solar charger divider (Input and output regulation)
- [x] More space monitors and sense resistors
- [x] More space around charger/regulators
- [x] U27 wrong package
- [x] D3 wrong package
- [x] Add reset button on watchdog

[2017-03-22 04:27] brghena commented on #49
Before you spin Rev D, it would be good to check if the watchdog firing actually turns off and back on the power rails correctly. (Probably a deadbugged chip and some wires)

[2017-03-22 04:28] nealjack commented on #49
U27 is the watchdog - so I don't have a good way

[2017-03-22 05:47] nealjack commented on #49
- [x] VSOL- must be connected to VBAT-. Watchdog only shuts off battery connection to ground, solar panel could still power device. Change charger GND connections to VSOL-/VBAT-.
- [x] Battery monitor sense resistor needs to be closer and have better traces to pins
- [x] R53 and R13 swap
- [x] LTC2943 requires 3.6+V, so backplane/controller gauge won't work

[2017-03-23 01:02] adkinsjd commented on #22
- [x] Individual reset buttons for each MCU

[2017-03-28 09:57] victorconka commented on #44
Hi @andy-shev,
I'd really wanted to try and use your kernel because of the SPI driver and DMA support.
Is there a way of building your kernel using the BSP v3.5 is dated 6.06.2016? I want this mostly because it seems easier to me to include new modules and try them through patches and bitbake.

[2017-03-28 14:41] andy-shev commented on #44
@vsobolyev
It would be really appreciated, though I have 0 experience with Yocto (bitbake), so I dunno how to answer to your question.

**UPDATE**.
The user space environment is not compatible with newer kernel APIs, so, prepare to have a massive breakage there if you rely on some old (non-upstream-compatible) behaviour. Otherwise you may build new kernel as usual, better to take my branch since i

[2017-03-29 08:07] victorconka commented on #44
@andy-shev
Things were breaking as I was writing you hehe.
Thanx for the info. Will give try to the usual build later on.

[2017-03-29 11:32] andy-shev commented on #44
@vsobolyev
You are welcome.
One remark, it might be better to use issue tracker in my repository to avoid noise here. Since there is no automated way to move some comments as a new issue in other repository, feel free to create one an put there comments that matters.

[2017-04-04 19:14] nealjack opened #51 "Malformed packets will crash receiver in Signbus"
Sending "hello" to controller results in crash. Possibly due to expectations of incoming packet field lengths.

[2017-04-07 01:54] brghena commented on #49
- [ ] Think about Load Switches on a per module basis

[2017-04-10 03:26] ppannuto commented on #23
- [x] power metering jumpers for modules/controller
 - [x] eeprom chip

[2017-04-25 01:04] adkinsjd commented on #22
- [x] Add POR chips for both SAM4Ls. Backplane power nets are too large to fulfill necessary voltage rise rates, meaning SAM4Ls need POR.

[2017-05-20 01:25] brghena opened #53 "Travis Issue"
It looks like Travis isn't actually catching when our applications fail in Signpost. See https://travis-ci.org/lab11/signpost#L1168. It looks like some applications are still including `firestorm.h` and have been failing, but travis thinks all tests have passed.

@ppannuto Could you take a look at this at some point?

[2017-05-23 18:28] brghena opened #54 "signpost-debug-radio issue"
When Theo was running through the Signpost tutorial, he found that the signpost-debug-radio pip package seems to have an issue and can't find `_version.py`. We should try to replicate this and fix it. Leaving this issue for now so that I remember it.

[2017-05-23 18:51] #53 closed, assigned to nobody

[2017-05-23 23:28] Susurrus opened #56 "Add a license"
While this code is all public, I didn't see a license file or anything specified in the README. It'd be good to clarify this.

[2017-05-23 23:45] adkinsjd commented on #56
It's free, and you can use it if you want to. I suppose you could take that as the "Unlicense".

[2017-05-23 23:48] Susurrus commented on #56
Cool, that's a great license choice! Could this be made explicit in the `README` or in a `LICENSE` file so that it's clear for others as well?

[2017-05-24 02:18] #56 closed, assigned to nobody

[2017-05-24 03:35] Susurrus commented on #56
I believe this repo also contains hardware, which doesn't quite work with some of the conventional FOSS software licenses. I'd recommend explicitly selecting a specific OSHW license for your hardware designs and then specifying that only the code is under Apache2/MIT.

[2017-05-24 04:18] ppannuto commented on #56
My reading / understanding was the MIT (and/or BSD) licenses covered hardware well. The copyleft fellows had to change but not the permissive ones. A quick google seemed to back this understanding, but it seems to be murkier territory. If you have pointers to any good writeups on the issues with using MIT license for OSHW / recommended licenses we'd be happy to consider them.

[2017-05-24 04:33] Susurrus commented on #56
[This seems like a good resource](https://www.oshwa.org/sharing-best-practices/). But basically, MIT shouldn't be an issue, you're correct. You might want to say that non-code in this repo is licensed under MIT and all code is dual MIT/Apache2. Then I think you'd be fully covered.

[2017-05-24 20:28] brghena commented on #54
Fixed with https://github.com/lab11/signpost/commit/8633d549c00d0ca75cb1869d9ac14b1dbdb60efc. The issue was not looking for the local `_version.py` file. Version 0.2.1 of `signpost-debug-radio` has been released.

[2017-05-24 20:28] #54 closed, assigned to nobody

[2017-05-24 21:04] ppannuto commented on #54
Does that work in both py2k and py3k? I thought you couldn't do dot imports
in py2?
On Wed, May 24, 2017 at 16:28 Branden Ghena <notifications@github.com>
wrote:

[2017-05-24 21:08] brghena commented on #54
It's been tested in python 2.7 and works just fine.

[2017-05-26 01:14] adkinsjd opened #58 "RF Spectrum A Issues"
- [x] R8 and C7 Labels are switched (which is bad if you want a working regulator)

[2017-06-26 14:34] #16 closed, assigned to ppannuto

[2017-06-27 19:48] ppannuto opened #65 "Backplane Rev C Errata"
- [x] USB !BUSPWR is wrong: Currently tied to GND, which states that the hub and all downstream devices are powered from the upstream port. Should be tied high, stating that the hub has an "external" power supply. In both modes, the hub still will perform overcurrent and poweroff protections.
   - Symptom: This limits the hub to 500mA max total draw, as each downstream port has a minimum 100mA all

[2017-06-28 21:14] brghena opened #66 "Controller Rev D todos"
- [ ] Better isolation for things touching the Linux power domain
- [X] PPS connection to Storage Master
- [X] Output Enable pulldown on logic level converter
- [ ] `PWRBTN#` net needs isolation from SAM4L. Doesn't currently allow Edison to run without powering the SAM4Ls
- [x] Keep more space around Edison mounting holes

[2017-06-28 21:14] #22 closed, assigned to brghena

[2017-07-13 21:34] ppannuto commented on #65
- [ ] Between power module and backplane isolation circuitry, something needs to protect against shorts.
   - Currently, the power module has a limiter downstream of the regulator, which protects the regulator by limiting to no more than 2A (?) sustained draw. The backplane module power switches are rated for 1.5A (?), so shorting a module will cause the isolation to blow.

[2017-07-18 19:03] ppannuto commented on #66
- [x] Check that caps are on `VDDCORE` not `VDDOUT`

[2017-07-18 19:03] ppannuto commented on #58
- [ ] Check that caps are on `VDDCORE` not `VDDOUT`

[2017-07-18 19:04] ppannuto commented on #29
- [x] Check that caps are on `VDDCORE` not `VDDOUT`

[2017-07-18 19:04] ppannuto commented on #18
- [x] Check that caps are on `VDDCORE` not `VDDOUT`

[2017-07-18 19:06] adkinsjd commented on #58
This isn't a sam4L...

On Jul 18, 2017 12:03 PM, "Pat Pannuto" <notifications@github.com> wrote:

[2017-07-18 19:07] ppannuto commented on #58
Yeah.. sorry, got trigger happy, I'd already deleted that comment

On Tue, Jul 18, 2017 at 3:06 PM Joshua Adkins <notifications@github.com>
wrote:

[2017-07-19 20:56] nealjack commented on #66
- [x] add debug pinout for modstorage_out/in

[2017-08-16 15:25] ppannuto opened #67 "Debug Backplane Rev C Errata"
- [ ] Missing silk labels for:
   - ![image](https://user-images.githubusercontent.com/339422/29371182-7c65f4e8-825c-11e7-961f-44105c05e3f1.png)
 - [x] ~C54/C72 are decapping the wrong thing (sigh..)~
    - No, they were right, Eagle was just tricking me. VCC is pins 9 and 46 (or, `9*2` in the schematic), but decap was correctly on 46. Le sigh
 - [x] Isolation override switches have momentary shor

[2017-09-30 01:57] adkinsjd commented on #18
Fix the damn microwave radar hole sizes

[2017-10-10 04:43] brghena commented on #58
- [ ] Add a ground debug pin (so that the other pins have something to be referenced against)

[2017-10-10 07:09] brghena commented on #49
- [ ] WHY IS THE RESET BUTTON SO HARD TO PRESS??

[2017-10-10 18:35] brghena commented on #66
- [ ] Can we fit GND and TX pins for debugging after breaking the header off?

[2017-10-16 23:53] #29 closed, assigned to wwhuang

[2017-10-16 23:53] ppannuto opened #68 "Ambient RevD Errata"
- [ ] Move temperature sensor off of ground plane

[2017-10-21 03:32] adkinsjd commented on #67
- [ ] Make the controller debug pins either nonexistent or female

[2017-10-25 00:08] adkinsjd opened #69 "Possible Reset Clock Issues"
I am experience a problem on the microwave radar board where spurious resets occur if the clock in tock is set to 16MHz. Touching the reset line/adding any capacitance seems to solve the issue. Notable changing the clock seems to change the pull up resistance on the SAM4L from 30kohm to 25kohm. This problem is unresolved - clocks should be set to 48MHz to not experience the problem.

We tried to s

[2017-10-25 02:59] adkinsjd opened #70 "Audio Rev E Fixes"
- [ ] Fix the 3v3 airwire